<div class="container-fluid text-center">
	<div class="vertical-center">
		<div class="mx-auto">
			<%= image_tag 'sneaker-mc.png', style:"max-height: 300px;" %>
		</div>
		<%= render partial: 'users/sign_up_form' %>

	</div>
</div>