
<div class="container-fluid text-center">
	<div class="d-flex">
		<div id="filter-bar" class="text-body rounded shadow float-left h-100" style="width: 20%;">
			<h4>Filters:</h4>
			<div class="text-left">
				<h6>Brand:</h6>
				<h6>Color:</h6>
				<h6>Size:</h6>
			</div>
		</div>
		<%= render partial: 'postings_cards' %>

	</div>
</div>