
<div class="container-fluid text-center">
	<div class="vertical-center">
		<div class="mx-auto" style="width: 20%;">
			<h4>Posting Rules & Regulations:</h4>
			<ol>
				<li>Be very clear with the title, but keep it short and sweet to explain what you want to trade.</li>
				<hr>
				<li>Make sure you fill out all the details, once you trade, you can't trade back.</li>
				<hr>
				<li>Be careful of who you trade with, if the trade seems too good to be true, it probably is.</li>
				<hr>
				<li>Make sure all photos provide the clearest picture of what you are offering up for trade.</li>
				<hr>
				<li>Be as honest as possible with the condition of the kicks you want to trade, nobody likes a liar.</li>
				<hr>
				<li>If you feel like a trade seems suspicious, report it as soon as possible and the admin will review the post.</li>
				<hr>
				<li>And last, but not least, HAPPY TRADING! Find those dream kicks!</li>
			</ol>
		</div>
		<%= render partial: 'postings_cards' %>

	</div>
</div>