<%= video_tag "sneakers-on-court.mp4", id: "backgroundVideo", autoplay: :autoplay, loop: :loop, mute: true %>

<div class="container-fluid">
	<div class="vertical-center">
		<div class="mx-auto">
			<h1 class="text-center">SHRADE!</h1>
			<h4 class="text-center">With Shrade you can trade!</h4>
			<p class="text-center">A Jordan for a Yeezy? How about a Boost US5 for a Boost US7?</p>
			<div class="form-inline">
			<%= form_with url: new_posting_search_path, local: true do |form| %>
		  		<%= form.text_field :search, style:"min-width: 500px;", class:"form-control shadow",placeholder:'Search for your dream sneaker...' %>
		  		<%= form.submit "Search Sneakers...", class:"btn btn-outline-dark ml-2 shadow" %>
			<% end %>
		  	</div>
		</div>
	</div>
</div>
