
<div class="container">
	<div class="mx-auto text-center m-3">
		<h1>Trade Offers Made:</h1>

		<%= render partial: 'offered_trades_carousel' %>

		<hr>

		<h1>Trade Offers Received:</h1>

		<%= render partial: 'received_trades_carousel' %>

	</div>
</div>

<script>

	$( document ).on('turbolinks:load', function() {
	 	
		$('.accept-btn').click(function(e){
			console.log(e.target.value);
		})

		$('.decline-btn').click(function(e){

			console.log(e.target.value)

		})

		}) 



	

</script>