
<div class="container">
	<div class="mx-auto text-center m-3">
		<h1>Trade Offers Made:</h1>

		<%= render partial: 'offered_trades_carousel' %>

		<hr>

		<h1>Trade Offers Received:</h1>

		<%= render partial: 'received_trades_carousel' %>

	</div>
</div>

<script>

	$( document ).on('turbolinks:load', function() {
	 	
		$('.accept-btn').click(function(e){
			
			var tradeId = e.target.value
			
			$.ajax({
				url: '/accept_trade',
				method: 'POST',
				data: {trade_id: tradeId},
				dataType: 'JSON',
				success: function(data){

					$(`#status${tradeId}`).html(`Current Status: ${data.newStatus}`)
					
				},
				error: function(){
					alert('Oh No Something Went Wrong! :(');
				}
			})
		})

		$('.decline-btn').click(function(e){

			var tradeId = e.target.value

			$.ajax({
				url: '/decline_trade',
				method: 'POST',
				data: {trade_id: tradeId},
				dataType: 'JSON',
				success: function(data){
					
					$(`#status${tradeId}`).html(`Current Status: ${data.newStatus}`)
					
				},
				error: function(){
					alert('Oh No Something Went Wrong! :(');
				}
			})

		})

		}) 



	

</script>